// theme

$theme-green-color: #00730c;
$theme-clr-black: #0b0b0b;
$theme-dark-green-color: #0c4b35;

$bg-white-color: #ffffff;

// typography
$typography-black-color: #212529;
$typography-white-color: #ffffff;
$typography-gray-color: #676767;

// gradients

// $gradient-horisontal: linear-gradient(
//   79.58deg,
//   rgba(0, 115, 12, 0.579) -39.14%,
//   rgba(251, 246, 238, 0) 90.23%
// );
// $gradient-horisontal-light: linear-gradient(
//   72.71deg,
//   #00730c -83.5%,
//   #f9f9f9 93.84%
// );
// $gradient-vertical: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
